body {
    background-color: #F0F8FF;
}

.jumbotron {
    margin-top: 5em;
    background-color: #AFCBFF;
    border: solid 2px #0E1C36;
    color: #0E1C36;
}

.navbar {
    border: solid 2px #0E1C36;
    background-color: #AFCBFF;
}

